.summary {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.card {
  background: #ffffff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  text-align: center;
  flex: 1;
}

.title {
  font-size: 14px;
  color: #777;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
@media (max-width: 400px) {
    font-size: 10px;
  }
}

.amount {
  font-size: 24px;
  font-weight: 700;
  color: #0b8b4d; /* Зеленый для положительного баланса */
}
