.container {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 480px) {
    padding: 12px;
    gap: 16px;
  }
}
