@use '../../styles/tokens' as *;
@use '../../styles/breakpoints' as *;

.sidebar {
   background: #111827;
  color: #fff;
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  z-index: 100;

  // 1. MOBILE 
  position: fixed;
  top: 0;
  left: 0;
  width: 72px;
  transform: translateX(-100%);

  &.open {
    transform: translateX(0);
  }

  // 2. TABLET (от 768px до 1023px)
  @media (min-width: $md) and (max-width: ($lg - 1px)) {
    position: static;
    transform: none;
    width: 72px;
    padding: 24px 8px;
    align-items: center;
    
    .logo { display: none; } 
  }

  // 3. DESKTOP (от 1024px и выше)
  @media (min-width: $lg) {
    position: static;
    transform: none;
    width: 240px;
    
  }

  .logo {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
    white-space: nowrap;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    .item {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 10px;
      border-radius: 8px;
      text-decoration: none;
      color: #e5e7eb;
      transition: background 0.2s;
      cursor: pointer;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }

      &.active {
        background: #2563eb;
        color: white;
      }

      .label {
        @media (max-width: $lg) {
          display: none;
        }
      }

      @media (max-width: $lg) {
        justify-content: center;
        padding: 12px 0;
      }
    }
  }
}
  .overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;

  @media (min-width: $md) {
    display: none;
  }
}